/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #fafafa;
  background-color: #0a0a0a;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cabeçalho */
.header {
  background: linear-gradient(135deg, #000000, #ffffff);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}

.nav-bar ul li {
  margin: 0 15px;
}

.nav-bar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


.about {
  padding: 50px 0;
  text-align: center;
  background: #0026ff;
}

.portfolio {
  padding: 50px 0;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.services {
  padding: 50px 0;
  text-align: center;
}

.services ul {
  list-style: none;
}

.services li {
  margin: 10px 0;
}

/* Serviços */
.services {
  padding: 50px 0;
  background: #0026ff; /* Faixa azul */
  color: #ffffff;
  text-align: center;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service-item {
  background: #1a1a1a;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.service-item:hover {
  transform: scale(1.05); /* Zoom ao passar o mouse */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.service-item h3 {
  font-size: 1.5em;
  color: #ff9900;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1em;
  color: #dddddd;
}






.footer {
  background: #204de2;
  color: #ffffff9a;
  text-align: center;
  padding: 10px 0;
}
